/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your code here */
    transition: rotate 2s;
}

/* Create rocket hover animation here */

.rocket_svg:hover {
  rotate: 250deg;
}

/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    /* Your code here */

    transition: translate 2s;
}

/* Create astronaut hover animation here */

.astronaut_svg:hover {
  translate: 100px;
}
/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your animation here */
    animation: spin infinite linear 2s;
}

@keyframes spin {
    from {
      rotate: 0deg;
    }

    to {
      rotate: 360deg;
    }
}